body{
    margin: 0 0 0 0;
}
/* PANTALLA1 */
.vis{
    background-image: url(../img/hourse_racing2.jpg);
    background-size: cover;
     width: 100vw;
    height: 100vh;
}
.cont1{
        height: 100%;
       display:flex;
       justify-content: center;
       align-items: center;
}
.start{
    text-align: center;
    color: yellow;
}
/*PANTALLA 2 */
.novis{
    height: 100vh;
    background-image: url(../img/fondo_horse.jpg);
    background-size: cover;
}
.hsin{
    display:flex;
    justify-content: center;
    align-items: center;
    color: yellow
}
.cara{
    margin: 25px;
    border-radius: 15px;
}
.namehorse{
    font-size: 30px;
    text-align: center;
}
.h1message{
    font-size: 40px;
    text-align: center;
    color: yellow;
}
/* //EMPEZAR PARTIDA */
.epartida{
    text-align: center;
    font-size: 40px;
    color:yellow;
}

/* PANTALLA 3 */
.gplayers{
    height: 100vh;
    background-image: url(../img/carrera.caballos2.jpg);
    background-size: cover;
    justify-content: center;
}
.p3h{
    margin-left: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
/* //NOMBRES CABALLOS */
.nombresp3h{
    justify-content: center;
    margin: 25px;
    display:flex;
    font-size: 50px;
    color: yellow;
}
.p1t{
    margin-right: 225px;
}
/* //METROS RECORRIDOS */
.metrosrecorridos{
    display :flex;
    justify-content: center;
    font-size: 50px;
    color:yellow
}
.boton1{
    padding-top: 250px;
    display: flex;
    justify-content: center;
}
.metro1{
    margin-right: 200px;
}
.player1{
    border-radius: 15px;
    margin-right: 100px;
}
.player2{
    border-radius: 15px;
}
.p2t{

}
.trans{
    filter: grayscale(100%)
}
/* //PANTALLA 4 */
.fondoganador{
    height: 90vh;
    background-image: url(../img/ganador.jpg);
    background-size: cover;
    justify-content: center;
}
.tituloganador{
    
    font-size: 50px;
    display:flex;
    justify-content: center;
    color: gold;
}
.imagenganador{
    display:flex;
    justify-content: center;
    border-radius: 15px;
}
.botonrestart{
    padding-top : 100px;
    display: flex;
    justify-content: center;

}
.nombreganador{
    display:flex;
    justify-content: center;
    font-size: 30px;
    color: gold;
}