body{
    margin: 0 0 0 0;
}
/* PANTALLA1 */
.vis{
    background-color: palegoldenrod;
     width: 100vw;
    height: 100vh;
}
.cont1{
        height: 100%;
       display:flex;
       justify-content: center;
       align-items: center;
}
/*PANTALLA 2 */
.novis{
    height: 100vh;
    background-image: url(../img/fondo_horse.jpg);
    background-size: cover;
}
.hsin{
    display:flex;
    justify-content: center;
    align-items: center;
}
.cara{
    margin: 25px;
    border-radius: 15px;
    border: 2px solid black;
}
.namehorse{
    font-size: 30px;
    text-align: center;
}
.h1message{
    font-size: 40px;
    text-align: center;
}
.epartida{
    text-align: center;
    font-size: 40px;
}
/* PANTALLA 3 */
.gplayers{
    display:flex;
    justify-content: center;
}
.p1t{
     text-align: center;
     font-size: 50px;
}
.p2t{
    text-align: center;
    font-size: 50px;
}
.trans{
    filter: grayscale(100%)
}